.holder{
    display: flex;
    border: 2px solid black;
    width: 500px;
    border-radius: 20px 20px 0px 0px;
    
    flex-wrap: wrap;
    overflow: hidden ;
}

.holder > div{
    
    height: 50px;
    text-align: center;
    
}


.i1{
    background: red;
    order: 1;
    min-width: 50%;
    flex-grow: 3;
    
    
}
.i2{
    background: royalblue;
    order: 4;
    flex-grow: 2;
    
    
}
.i3{
    background: purple;
    order: 3;
    flex-grow: 2;
    
}
.i4{
    background: green;
    order: 5;
    flex-grow: 2;
    flex-wrap: nowrap;
}
.i5{
    background: orange;
    order: 2;
    
    width: 50%;
    flex-grow: 3;
    
} 
