blockquote{
    color: green;
}

.holder > a[href^="https://"]{
    color: red;
}
.list > li:last-child{
    background: green;
}
ul + p{
    font-size: 26px;
}
.text-box h3:first-child{
    color: pink;
}
#greycol{
    color:gray;
}
.text-box div > p{
    color:red;
}
.text-box p:nth-child(7){
    color: green;
}
.yellow{
    color: yellow;
}
